body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header styles */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
  color: #4d5ae5;
}

.logo-dark {
  color: #2e2f42;
}

.nav-list {
  display: flex;
}

.nav-items:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.address-list {
  display: flex;
}

.address-items:not(:last-child) {
  margin-right: 40px;
}

.address-link {
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* Hero styles */

.hero-section {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
  color: #ffffff;
}

.hero-button {
  font-weight: 500;
  line-height: 1.17;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Features styles */

.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-items {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

/* Team styles */

.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}

.team-members-list {
  display: flex;
  gap: 24px;
}

.team-members-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  background-color: #ffffff;
  box-shadow:
    0 1px 6px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member-wrapper {
  padding: 32px 0;
}

.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
}

.team-position {
  text-align: center;
}

/* Portfolio styles */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-items {
  flex-basis: calc(100% - (24 * 2) / 3);
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

.portfolio-item-wrapper {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

/* Footer styles */

.footer-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.logo-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #4d5ae5;
}

.logo-light {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  color: #f4f4fd;
}
